.Shoppe__brandStuff-text {
  margin-top: 22px;
}

.Shoppe__brandStuff-text img {
  width: 450px;
  height: 300px;
}

.Shoppe__brandStuff-text h3 {
  color: var(--color-footer);
  font-family: var(--font-family);
  font-size: var(--size-14);
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
}

.Shoppe__brandStuff-text h4 {
  color: var(--color-text-black);
  font-family: var(--font-family);
  font-size: var(--size-20);
  font-weight: 400;
  line-height: 26px;
}

.Shoppe__brandStuff-text_1 h3 {
  width: 450px;
  height: 54px;
  color: var(--color-footer);
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  text-transform: capitalize;
}

.Shoppe__brandStuff-text_1 h4 {
  width: 84px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: var(--color-light);
  cursor: pointer;
}
