.Shoppe__checkout {
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 1590px;
  margin-left: 96px;
}

.Shoppe__checkout-container {
  margin-top: 96px;
}

.Shoppe__checkout-container h1 {
  display: flex;
  justify-content: center;
  font-size: var(--size-33);
  font-weight: 500;
  line-height: 43px;
  margin-bottom: 64px;
}

span {
  color: var(--color-footer);
}

.Shoppe__checkout-container h2 {
  width: 297px;
  height: 25px;
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 16px;
}

.Shoppe__checkout-container h3 {
  width: 359px;
  height: 25px;
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 24px;
}

.code {
  width: 580px;
  height: 181px;
  border: 1px solid var(--color-footer);
  padding: 24px;
  margin-bottom: 48px;
}

.code h4 {
  width: 389px;
  height: 25px;
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 39px;
}

.coupon {
  display: flex;
  justify-content: space-between;
}

.coupon p {
  font-size: var(--size-12);
  font-weight: 400;
  line-height: 20px;
  color: var(--color-footer);
  border-bottom: 1px solid var(--color-footer);
  width: 336px;
  padding-bottom: 21px;
  margin-right: 28px;
}

.coupon button {
  width: 168px;
  height: 53px;
  border-radius: 4px;
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
}

.details__order-text {
  display: flex;
  justify-content: space-between;
}

.details-input {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.details-input h2 {
  font-size: var(--size-26);
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 27px;
}

.first-last {
  display: flex;
  justify-content: space-between;
}

.first-last .zero-one {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  border: none;
  width: 270px;
  margin-right: 40px;
  border-bottom: 1px solid var(--color-footer);
  padding-bottom: 12px;
  margin-bottom: 39px;
  outline: none;
}

.details-input .zero-two {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  border: none;
  width: 580px;
  border-bottom: 1px solid var(--color-footer);
  margin-bottom: 39px;
  padding-bottom: 12px;
  outline: none;
}

.remember-zero {
  margin-top: -140px;
}

.order-button h2 {
  font-size: var(--size-26);
  font-weight: 400;
  line-height: 25px;
  margin-right: 220px;
}

.bg-button {
  width: 580px;
  height: 846px;
  background: var(--color-light-gray);
  padding: 39px 59px;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-footer);
}

.product h2 {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
}

.product h2:last-child {
  margin-left: 120px;
}

.Lira {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.Lira h3 {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  color: var(--color-footer);
}

.Lira h3:last-child {
  padding-left: 300px;
}

.Hair {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-footer);
}

.Hair h3 {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  color: var(--color-footer);
}

.Hair h3:last-child {
  padding-left: 300px;
}

.sub-ship {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-footer);
}

.sub-ship h3 {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  color: var(--color-footer);
}

.sub-ship h3:first-child {
  color: var(--color-text-black);
}

.sub-ship h3:last-child {
  padding-left: 330px;
}

.sub-ship:last-child h3:last-child {
  padding-left: 170px;
}

.money-total {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.money-total h4 {
  font-weight: 700;
}

.money-total h4:last-child {
  padding-left: 330px;
}

.container input {
  background: var(--color-text-black);
  border-style: hidden;
}

.checkmark {
  margin-left: 8px;
  color: var(--color-text-black);
}

.bg-button p {
  font-size: var(--size-12);
  font-weight: 400;
  line-height: 20px;
  color: var(--color-footer);
  margin-top: 19px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.label .container {
  margin-top: -60px;
}

.bg-button button {
  width: 462px;
  height: 53px;
  margin-top: -20px;
  background: var(--color-text-black);
  color: var(--color-text-white);
  font-size: var(--size-16);
  font-weight: 700;
  cursor: pointer;
}
