$font-family-base: sans-serif;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-700: 700;
$size-33: 33px;
$size-26: 26px;
$size-16: 16px;
$size-14: 14px;
$size-20: 20px;
$size-12: 12px;
$size-13: 13px;
$line-height-35: 35px;
$line-height-20: 20px;
$line-height-27: 27px;
$line-height-22: 22px;
$line-height-26: 26px;

html,
body {
  font-family: $font-family-base;
}

.heading-01 {
  font-weight: $font-weight-500;
  font-size: $size-33;
}

.heading-02,
.heading-03,
.heading-04 {
  font-weight: $font-weight-400;
  font-size: $size-26;
}

.heading-02,
.heading-03 {
  line-height: $line-height-35;
}

.heading-04 {
  line-height: $line-height-20;
}

.heading-05 {
  font-weight: $font-weight-400;
  font-size: $size-16;
  line-height: $line-height-27;
}

.body-large {
  font-weight: $font-weight-700;
  font-size: $size-16;
  line-height: $line-height-20;
}

.body-medium {
  font-weight: $font-weight-400;
  font-size: $size-14;
  line-height: $line-height-22;
}

.body-small {
  font-weight: $font-weight-400;
  font-size: $size-12;
  line-height: $line-height-20;
}
