.Shoppe__shopPage p {
  position: relative;
  padding: 0rem 1rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--size-16);
  line-height: 27px;
  color: black;
  transition: 0.5s ease;
}

.Shoppe__shopPage p:hover {
  color: var(--color-footer);
}

.Shoppe__shopPage p.active_navbar::before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -26px;
  width: 53%;
  height: 0.1rem;
  background: var(--color-text-black);
}

.Shoppe__shopPage-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 1200px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.Shoppe__shopPage-text {
  margin-right: 36px;
  margin-top: 96px;
}

.Shoppe__shopPage-text h1 {
  display: flex;
  flex-direction: row;

  font-family: var(--font-family);
  font-size: var(--size-33);
  font-weight: 500;
  line-height: 43px;
}

.Shoppe__shopPage-search {
  margin-top: 41px;
  margin-bottom: 39px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
}

.Shoppe__shopPage-search input {
  border: none;
  margin-bottom: 11px;
}

select {
  width: 261px;
  height: 53px;

  font-family: var(--font-family);
  font-size: var(--size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  border: 1px solid var(--color-gray);
  border-radius: 4px;
  margin-bottom: 44px;
}

.slider-container {
  width: 261.002px;
  height: 2px;
  margin-bottom: 12px;
}

.slider-container .slider-track {
  height: 2px;
}

.slider-track.slider-track-0 {
  background: var(--color-footer);
}

.slider-track.slider-track-1 {
  background: var(--color-text-black);
}

.slider-container .slider-thumb {
  cursor: pointer;
  width: 2.5px;
  height: 10px;
  background: var(--color-text-black);
  top: -4px;
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin: 42px 0px;

  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
}

.toggle .off {
  cursor: pointer;
  font-size: 30px;
  color: var(--color-footer);
}

.Shoppe__shopPage-price_display {
  display: flex;
  justify-content: space-between;
}

.Shoppe__shopPage-price_display p {
  color: var(--color-footer);
  font-family: var(--font-family);
  font-size: var(--size-14);
  font-weight: 400;
  line-height: 22px;
}

.Shoppe__shopPage-price p:last-child {
  color: var(--color-light);
}

.Shoppe__shopPage_home-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 96px;
}

.Shoppe__shopPage_home-container_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 25px;
}

.update img {
  width: 333px;
  height: 350px;
  left: 20px;
  margin-right: -10px;
}
