.Shoppe__shopPage {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 1200px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.Shoppe__shopPage-text {
  margin-right: 36px;
  margin-top: 96px;
}

.Shoppe__shopPage-text h1 {
  display: flex;
  flex-direction: row;

  font-family: var(--font-family);
  font-size: var(--size-33);
  font-weight: 500;
  line-height: 43px;
}

.Shoppe__shopPage-search {
  margin-top: 41px;
  margin-bottom: 39px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
}

.Shoppe__shopPage-search input {
  border: none;
  margin-bottom: 11px;
}

select {
  width: 261px;
  height: 53px;

  font-family: var(--font-family);
  font-size: var(--size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  border: 1px solid var(--color-gray);
  border-radius: 4px;
  margin-bottom: 44px;
}

.slider-container {
  width: 100%;
  height: 2.5px;
  background: var(--color-footer);
  margin-bottom: 8px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 2.5px;
  border-radius: 5px;
  background: var(--color-text-black);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-left: 52px;
}

.slider .thumb {
  width: 2.5px;
  height: 10px;
  background: var(--color-text-black);
  cursor: grab;
  top: -4px;
}

.slider .track-1 {
  background-color: var(--color-text-black);
}

.slider .track-2 {
  background-color: var(--color-text-black);
}

.slider .track-1.active {
  background-color: var(--color-text-black);
}

.slider .track-2.active {
  background-color: var(--color-text-black);
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin: 42px 0px;

  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
}

.toggle .off {
  cursor: pointer;
  font-size: 30px;
  color: var(--color-footer);
}

.Shoppe__shopPage-price_display {
  display: flex;
  justify-content: space-between;
}

.Shoppe__shopPage-price_display p {
  color: var(--color-footer);
  font-family: var(--font-family);
  font-size: var(--size-14);
  font-weight: 400;
  line-height: 22px;
}

.Shoppe__shopPage-price p:last-child {
  color: var(--color-light);
}

.Shoppe__shopPage_home-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 96px;
}

.Shoppe__shopPage_home-container_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 25px;
}

.update img {
  width: 333px;
  height: 350px;
  left: 20px;
  margin-right: -10px;
}
