form {
  margin-top: 50px;
}

form h1 {
  display: flex;
  justify-content: center;
  font-size: var(--size-33);
  font-weight: 500;
  line-height: 43px;

  color: var(--color-text-black);
  margin-bottom: 64px;
}

.Shoppe__myAccount-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  width: 500px;
  height: 60px;
  border-radius: 8px;
  background: var(--color-light-gray);
  margin-bottom: 126px;
}

.Shoppe__myAccount-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;

  font-size: var(--size-20);
  font-weight: 400;
  line-height: 26px;
}

.Shoppe__myAccount-register {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 16px 84px;
  font-size: var(--size-20);
  font-weight: 400;
  line-height: 26px;
}

.fill-username input {
  border: none;
  width: 500px;
  height: 30px;

  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 46px;
  outline: none;
}

.fill-email input {
  border: none;
  width: 500px;
  height: 30px;

  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid var(--color-gray);
  outline: none;
  margin-bottom: 46px;
}

.fill-password input {
  border: none;
  width: 500px;
  height: 30px;

  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid var(--color-gray);
  outline: none;
  margin-bottom: 15px;
}

.remember {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 16px;
  height: 17.174px;
  border: 1px solid var(--color-footer);
  border-radius: 2px;
  margin-bottom: 71.83px;
}

label {
  color: var(--color-text-black);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  margin: 0px 5px 69px;
}

.btn-black {
  width: 500px;
  height: 53px;
  border-radius: 4px;
  border: 1px solid var(--color-text-white);
  margin-bottom: 13px;
  cursor: pointer;

  font-size: var(--size-16);
  font-weight: 500;
  transition: 0.5s ease;
}

h5 {
  display: flex;
  justify-content: center;
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
  margin-bottom: 247px;
}

.Shoppe__myAccount-login.active-tab {
  background-color: var(--color-text-white);
}

.Shoppe__myAccount-register.active-tab {
  background-color: var(--color-bg);
}
