@use "styles/colors" as *;
@use "styles/fonts" as *;

.shoppe__header-links {
  flex: 1;
  position: sticky;
  top: 0;
  left: 0;
  padding: 64px 94px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppe__navbar {
  display: flex;
}

.shoppe__navbar-links_container {
  display: flex;
  flex-direction: row;
  margin-right: 5px;

  ul {
    display: flex;
    position: relative;
    flex-direction: row;
    list-style: none;
    gap: 64px;
    margin-right: 40px;

    .active-shop::before {
      content: "";
      position: absolute;
      bottom: -21.5px;
      left: 1px;
      width: 14%;
      height: 2px;
      background-color: $color-text-black;
    }
  }

  li {
    transition: 0.5s ease;

    &:hover {
      color: $color-footer;
    }
  }
}

.shoppe__navbar-icons {
  height: 17px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: 1px solid #707070;

  a {
    padding: 0.5rem 1rem;
    color: $color-text-black;
    transition: 0.5s ease;
  }

  a:hover {
    color: $color-footer;
  }
}
