#form-edit {
  display: none;
  background-color: white;
  position: fixed;
  width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

fieldset {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

input {
  margin: 5px;
  padding: 0.8rem;
}

label {
  margin-left: 5px;
}

.form-edit__btn-save {
  background-color: greenyellow;
}

.form-edit__btn-close {
  background-color: orange;
}
