section {
  padding: 6vh 10vw;
}

.table-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.table-container button,
a {
  padding: 0.4rem 0.8rem;
}

.table-container__title {
  font-size: 25px;
  font-weight: 600;
}

.table-container__btn-create {
  background-color: greenyellow;
}

.table-container__btn-edit {
  background-color: greenyellow;
  cursor: pointer;
}

.table-container__btn-delete {
  background-color: orange;
  color: black;
  text-decoration: none;
  border: 2px solid;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #ccc;
}
