#my-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8vh 10vw;
}

#my-account div {
  margin-bottom: 4rem;
}

/* my account - switch */
.my-account__switch {
  background-color: var(--bright-gray);
  display: flex;
  align-items: center;
}

.my-account__switch p {
  color: var(--black);
}

/* my account - switch sign in */
.my-account__switch-sign-in {
  border: 2px solid var(--bright-gray);
  background-color: var(--white);
  padding: 0.8rem 3.8rem;
  text-decoration: none;
}

/* my account - switch register */
.my-account__switch-register {
  background-color: var(--bright-gray);
  border: 2px solid var(--bright-gray);
  padding: 0.8rem 3.8rem;
  text-decoration: none;
}

/* my account - user */
.my-account__user {
  display: flex;
  flex-direction: column;
}

/* my account - user account */
.my-account__user-account {
  border: 0.5px solid var(--bright-gray);
  height: 3rem;
}

/* my account - user password */
.my-account__user-password {
  border: 0.5px solid var(--bright-gray);
  height: 3rem;
}

/* my account - user login */
.my-account__user-login {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  padding: 8px;
  text-decoration: none;
}


