.Shoppe__contact {
  position: sticky;
  width: 1340px;
  border-top: 1px solid var(--color-gray);
  margin-left: 90px;

  margin-bottom: 90px;
}

.Shoppe__contact-content {
  display: flex;
  justify-content: space-between;
}

.Shoppe__contact-links-1 {
  display: flex;
  color: var(--color-footer);
  margin-top: 55px;
}

.Shoppe__contact-links-1 h4 {
  font-size: var(--size-16);
  font-family: var(--font-family);
  line-height: 27px;
  margin-right: 41px;
  font-weight: 400;
  cursor: pointer;
}

.Shoppe__contact-links-2 {
  display: flex;
  color: var(--color-footer);
  border-bottom: 1px solid var(--color-text-black);
}

.Shoppe__contact-links-2 input {
  font-size: var(--size-16);
  font-family: var(--font-family);
  line-height: 27px;
  font-weight: 400;
  width: 244px;
  height: 18px;

  margin-top: 48px;
  margin-right: 128px;
  border: none;
}

.Shoppe__contact-links-2 .icon {
  margin-top: 50px;
}

.Shoppe__contact-lastPage {
  display: flex;
  justify-content: space-between;
  color: var(--color-footer);

  margin-top: 48px;
}

.Shoppe__contact-copyright span {
  color: var(--color-text-black);
}

.Shoppe__contact-icon .fa-linkedin-in {
  cursor: pointer;
  margin-right: 20px;
}

.Shoppe__contact-icon .fa-facebook-f {
  margin-right: 20px;
  cursor: pointer;
}

.Shoppe__contact-icon .fa-instagram {
  margin-right: 20px;
  cursor: pointer;
}

.Shoppe__contact-icon .fa-twitter {
  margin-right: 20px;
  cursor: pointer;
}
