.select {
  outline: none;
  border: 1px solid theme("colors.bright-gray");
  border-radius: 6px;
  padding: 8px 0;

  &:required:invalid {
    color: theme("colors.dark-silver");
  }

  &-secondary {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
