#product-data {
  padding: 0 10vw;

  & table,
  td,
  th {
    border: 1px solid theme("colors.black.1");
    text-align: left;
  }

  & table {
    border-collapse: collapse;
    width: 100%;
  }

  & th,
  td {
    padding: 15px;
  }

  & tr:hover {
    background-color: theme("colors.bright-gray");
  }
}

@mixin top-50 {
  top: 50%;
}

@mixin top--50 {
  top: -50%;
}

@mixin animation($name) {
  animation-name: $name;
  animation-duration: 0.8s;
}

.open-model {
  @include animation(open-model);
}

@keyframes open-model {
  from {
    @include top--50();
  }
  to {
    @include top-50();
  }
}

.close-model {
  display: none;
  @include animation(close-model);
}

@keyframes close-model {
  from {
    display: block;
    @include top-50();
  }
  to {
    @include top--50();
  }
}
