@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
  font-family: theme("fontFamily.base");
}

.heading-01 {
  font-weight: theme("fontWeight.500");
  font-size: theme("fontSize.33");
}

.heading-02 {
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.26");
  line-height: theme("lineHeight.35");
}

.heading-03 {
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.20");
  line-height: theme("lineHeight.26");
}

.heading-04 {
  font-weight: theme("fontWeight.500");
  font-size: theme("fontSize.20");
  line-height: theme("lineHeight.20");
}

.heading-05 {
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.16");
  line-height: theme("lineHeight.27");
}

.body-large {
  font-weight: theme("fontWeight.700");
  font-size: theme("fontSize.16");
}

.body-medium {
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.14");
}

.body-small {
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.12");
  line-height: theme("lineHeight.20");
}
