@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
  font-family: var(--font-family-base);
}

.text-dark-silver {
  color: var(--dark-silver);
}

.text-beaver {
  color: var(--beaver);
}

.heading-01 {
  font-weight: var(--font-weight-500);
  font-size: var(--size-33);
}

.heading-02 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-26);
  line-height: var(--line-height-35);
}

.heading-03 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-20);
  line-height: var(--line-height-26);
}

.heading-04 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-20);
  line-height: var(--line-height-20);
}

.heading-05 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-16);
  line-height: var(--line-height-27);
}

.body-large {
  font-weight: var(--font-weight-700);
  font-size: var(--size-16);
}

.body-medium {
  font-weight: var(--font-weight-400);
  font-size: var(--size-14);
}

.body-small {
  font-weight: var(--font-weight-400);
  font-size: var(--size-12);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-10);
}
