:root {
  /* FONT FAMILY*/
  --font-family-base: "DM Sans", sans-serif;

  /* FONT WEIGHT*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;

  /* LINE HEIGHT */
  --line-height-20: 20px;
  --line-height-26: 26px;
  --line-height-27: 27px;
  --line-height-35: 27px;

  /* SIZE - FONT SIZE */
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-26: 26px;
  --size-33: 33px;

  /* LETTER-SPACING */
  --letter-spacing-10: 10px;

  /* COLOR */
  --black: black;
  --white: white;
  --white-smoke: whitesmoke;
  --bright-gray: #efefef;
  --anti-flash-white: #f2f2f2;
  --dark-silver: #707070;
  --beaver: #a18a68;
}
