// COLORS

$brown: #a18a68;
$white: #ffffff;
$black: #000000;
$gray-700: #707070;
$gray-600: #d8d8d8;
$gray-500: #efefef;
$red: #d82700;

//FONT-SIZE
$font-size-heading-01: 2.0625rem;
$font-size-heading-02: 1.625rem;
$font-size-heading-03: 1.25rem;
$font-size-heading-04: 1rem;
$font-size-body-01: 1rem;
$font-size-body-02: 0.875rem;
$font-size-body-03: 0.75rem;

//FONT-WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//SIZE
$size-10px: 10px;
