#footer {
  padding: 8vh 10vw;
}

/* footer top  */
.footer-top {
  margin-bottom: 1rem;
}

/* footer bottom  */
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

/* footer bottom - left side */
.footer-bottom__left-side > div {
  margin-bottom: 3.5rem;
}

/* footer bottom - right side */

/* footer bottom - right side - title */
.footer-bottom__right-side__title {
  display: flex;
  align-items: center;
}

.footer-bottom__right-side__title p {
  margin-right: 5rem;
}

/* footer bottom - right side - contact list */
.footer-bottom__right-side__line-2 {
  margin: 1.5rem 0 3rem;
}

/* footer bottom - right side - contact list */
.footer-bottom__right-side__contact-list {
  display: flex;
  justify-content: right;
}

.footer-bottom__right-side__contact-list a {
  margin-left: 2rem;
}
