#slide-show-image {
  overflow-x: hidden;
}

.slide-show-image__container--slide-from-left img {
  animation: slide-to-right 1s;

  &.active {
    visibility: visible;
    animation: slide-from-left 1s;
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-right {
  from {
    visibility: visible;
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

.slide-show-image__container--slide-from-right img {
  animation: slide-to-left 1s;

  &.active {
    visibility: visible;
    animation: slide-from-right 1s;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  from {
    visibility: visible;
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}

.slide-show-image__img-list img.active {
  border: 2px solid theme("colors.black.1");
}
