.shoppe__home-title_jewelry {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.shoppe__home-title_jewelry-image img {
  width: 377px;
  height: 380px;
  cursor: pointer;
}

.shoppe__home-title_jewelry-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 0;
  height: 100%;
}

.shoppe__home-title_jewelry-content h3 {
  font-size: var(--size-20);
  font-family: var(--font-family);
  line-height: 26px;
  color: var(--color-text-black);
  margin-bottom: 16px;
  cursor: pointer;
}

.shoppe__home-title_jewelry-content h4 {
  font-size: var(--size-20);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--color-light);
}

@media screen and (max-width: 550px) {
  .shoppe__home-title_jewelry-content h3 {
    font-size: var(--size-14);
    line-height: 22px;
  }
}
