.shoppe__blogPage-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 1280px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.shoppe__blogPage-text {
  width: 280px;
  margin-top: 96px;
}

.shoppe__blogPage-text h1 {
  line-height: 43px;
  margin-left: -210px;
}

.shoppe__blogPage-search {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 62px;
}

.shoppe__blogPage-search input {
  border: none;
  margin-bottom: 8px;
  outline: none;
}

.shoppe__blogPage-search a {
  width: 19px;
  height: 19px;
}

.shoppe__blogPage-convert {
  width: 100px;
}

.shoppe__blogPage-tab {
  display: flex;
  cursor: pointer;
  font-size: var(--size-20);
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--color-gray);
  outline: none;
  transition-delay: 0.1s;
}

.shoppe__blogPage-tab:hover {
  color: var(--color-footer);
}

.shoppe__blogPage-tab.active-tab {
  color: var(--color-text-black);
}

.shoppe__blogPage-content {
  width: 980px;
  height: 1250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 100px;
}

.shoppe__blogPage-title {
  width: 540px;
  height: 300px;
  margin-bottom: 64px;
}

.shoppe__blogPage-button {
  display: flex;
  justify-content: center;
  margin-left: 400px;
}

.shoppe__blogPage-button button:first-child {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: var(--color-text-black);
  border: 1px solid var(--color-gray);
  color: var(--color-text-white);
  border-radius: 4px;
  margin-right: 4px;
}

.shoppe__blogPage-button button:last-child {
  width: 40px;
  height: 40px;
  background: var(--color-text-white);
  border-radius: 4px;
  border: 1px solid var(--color-light);
  color: var(--color-text-black);
}
