#blog {
  padding: 8vh 10vw;
}

@mixin categories-font {
  color: theme("colors.black.1");
  font-weight: theme("fontWeight.400");
  font-size: theme("fontSize.20");
  line-height: theme("lineHeight.26");
}

.blog__content__left-side-bar__categories a {
  color: theme("colors.dark-silver");

  &:hover {
    @include categories-font();
  }

  &.active {
    @include categories-font();
  }
}
