@import "styles/custom/variable";

#blog {
  padding: 8vh 10vw;
}

.blog__content__left-side-bar__categories a {
  color: $dark-silver;
}

.blog__content__left-side-bar__categories a:hover {
  color: $black;
  font-weight: $font-weight-400;
  font-size: $size-20;
  line-height: $line-height-20;
}

.blog__content__blog-post img {
  width: 100%;
}

.blog__content__blog-post a {
  color: $beaver;
}

.blog__content__blog-post a:hover {
  color: $black;
}
