.Shoppe__privacy {
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 604px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.Shoppe__privacy-container {
  margin-top: 96px;
}

.Shoppe__privacy-container h1 {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--size-33);
  font-weight: 500;
  line-height: 43px;
  margin-bottom: 39px;
}

.Shoppe__privacy-container h4 {
  margin-left: 381px;
  width: 670px;
  height: 111px;
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.Shoppe__privacy-container h3 {
  margin-left: 381px;
  font-family: var(--font-family);
  font-size: var(--size-26);
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 24px;
}

.Shoppe__privacy-container li {
  margin-left: 410px;
  font-family: var(--font-family);
  font-size: var(--size-12);
  font-weight: 400;
  line-height: 20px;
}
