@import "styles/custom/variable";

#shopping-bag {
  background-color: $white;
  border-left: 3px solid $bright-gray;
  position: fixed;
  overflow-y: scroll;
  right: 0;
  top: 0;
  height: 100%;
  translate: 5s;
}
