/* display */
.display-flex {
  display: flex;
}

.display-flex-flex-direction-column {
  display: flex;
  flex-direction: column;
}

/* p */
.color-red {
  color: var(--red);
}

/* a */
.color-black-text-decoration-none {
  color: var(--black);
  text-decoration: none;
}

/* line 2 */
.border-0-5px-solid-black-rotate--180deg {
  border: 1px solid var(--black);
  rotate: -180deg;
}

.border-0-5px-solid-black {
  border: 0.5px solid var(--black);
}

/* button */
.background-color-black-color-white-text-decoration-none-padding-1rem-4rem-border-radius-6px {
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  padding: 0.6rem 4rem;
  border-radius: 6px;
}

/* input type: text */
.border-0-5px-solid-bright-gray-outline-none-border-top-0-border-left-0-border-right-0 {
  border: 0.5px solid var(--bright-gray);
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 3rem;
}

/* margin */
/* margin right */
.margin-right-2rem {
  margin-right: 2rem;
}

/* margin bottom */
.margin-bottom-0-5rem {
  margin-bottom: 0.5rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-bottom-4rem {
  margin-bottom: 4rem;
}
