@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  /* FONT FAMILY*/
  --font-family-base: "DM Sans", sans-serif;

  /* FONT WEIGHT*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;

  /* LINE HEIGHT */
  --line-height-20: 20px;
  --line-height-26: 26px;
  --line-height-27: 27px;
  --line-height-35: 27px;

  /* SIZE - FONT SIZE */
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-26: 26px;
  --size-33: 33px;

  /* LETTER-SPACING */
  --letter-spacing-10: 10px;

  /* COLOR */
  --black: black;
  --white: white;
  --white-smoke: whitesmoke;
  --bright-gray: #efefef;
  --anti-flash-white: #f2f2f2;
  --dark-silver: #707070;
  --beaver: #a18a68;
}

html,
body {
  font-family: var(--font-family-base);
}

.text-dark-silver {
  color: var(--dark-silver);
}

.text-beaver {
  color: var(--beaver);
}

.heading-01 {
  font-weight: var(--font-weight-500);
  font-size: var(--size-33);
}

.heading-02 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-26);
  line-height: var(--line-height-35);
}

.heading-03 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-20);
  line-height: var(--line-height-26);
}

.heading-04 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-20);
  line-height: var(--line-height-20);
}

.heading-05 {
  font-weight: var(--font-weight-400);
  font-size: var(--size-16);
  line-height: var(--line-height-27);
}

.body-large {
  font-weight: var(--font-weight-700);
  font-size: var(--size-16);
}

.body-medium {
  font-weight: var(--font-weight-400);
  font-size: var(--size-14);
}

.body-small {
  font-weight: var(--font-weight-400);
  font-size: var(--size-12);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-10);
}
