.list-product__image {
  position: relative;
  margin-bottom: 0.5rem;

  &:hover button {
    opacity: 1;
    bottom: -25px;
    height: 3rem;
  }

  img {
    width: 100%;
  }

  button {
    background-color: theme("colors.black[0.1]");
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    height: 1.3rem;
    left: 50%;
    bottom: -11px;
    width: 100%;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: 0.6s;
  }
}
