@use "styles/colors" as *;
@use "styles/fonts" as *;

.shoppe__account {
  border-top: 1px solid $color-gray;
  width: 1320px;
  height: 1000px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.shoppe__account-container {
  margin-top: 96px;
}

.shoppe__account-container .heading-01 {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  line-height: 43px;
}

.shoppe__account-tabs {
  display: flex;
  position: relative;
  flex-direction: row;
  border-bottom: 1px solid $color-gray;
  padding-bottom: 34px;
}

.shoppe__account-tab {
  display: flex;
  cursor: pointer;
  font-size: $size-20;
  font-weight: 400;
  line-height: $size-26;
  color: $color-gray;
  margin-right: 64px;
  outline: none;
  transition-delay: 0.1s;
}

.shoppe__account-tab:hover {
  color: $color-footer;
}

.shoppe__account-tab:nth-child(1).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 6.6%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab:nth-child(2).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 4%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab:nth-child(3).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 7%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab:nth-child(4).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 6.4%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab:nth-child(5).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 9.3%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab:nth-child(6).active-tab::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 4.5%;
  height: 1px;
  background: $color-text-black;
}

.shoppe__account-tab.active-tab {
  color: $color-text-black;
}

.dashboard {
  margin-top: 39px;
}

.dashboard h3,
.dashboard span {
  font-size: $size-16;
  font-weight: 400;
  line-height: $size-27;
}

.dashboard span {
  color: $color-light;
}

.orders {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  width: 1248px;
  height: 68px;
  border: 1px solid $color-text-black;
  background: $color-light-gray;
}

.orders h4,
.orders span {
  font-size: $size-16;
  font-weight: 400;
  line-height: $size-27;
  padding: 19px 40px;
}

.orders span {
  font-weight: 700;
  color: $color-light;
  padding: 23px 40px;
}

.address {
  margin-top: 36px;
}

.address h2 {
  font-size: $size-16;
  font-weight: 400;
  line-height: $size-27;
}

.add {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.bill {
  margin-top: 45px;
}

.bill h3,
.bill p,
.bill h6 {
  font-size: $size-20;
  font-weight: 400;
  line-height: $size-26;
}

.bill p {
  font-weight: 700;
  color: $color-light;
}

.details {
  padding: 0 420px;

  .input {
    display: flex;
    flex-direction: column;
    margin-top: 37px;

    input {
      border: none;
      outline: none;
      border-bottom: 1px solid $color-footer;
      padding-bottom: 13px;
      margin-bottom: 37px;
    }
  }
}

.details h1 {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  font-size: $size-33;
  font-weight: 500;
  line-height: 43px;
}

.details h3 {
  margin-top: 48px;
  margin-bottom: 41px;
}

.details .button {
  cursor: pointer;
  width: 500px;
  height: 53px;
  border-radius: 4px;
  background: $color-text-black;
  font-size: $size-16;
  font-weight: 700;
  color: $color-text-white;
}
