@import "styles/custom/variable";

#product {
  display: flex;
  justify-content: center;
  padding: 8vh 10vw;
}

.product__content__information__heading li {
  color: $dark-silver;
  display: block;
  position: relative;
  cursor: pointer;
}

.product__content__information__heading li::after {
  content: "";
  background-color: transparent;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -22px;
}

.product__content__information__heading li.tab-active {
  color: $black;
}

.product__content__information__heading li.tab-active::after {
  background-color: $black;
}
