@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/main" as *;

.shoppe__product {
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 2200px;
  margin-left: 96px;
  margin-bottom: 240px;
  z-index: 1;

  &-container {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
    margin-bottom: 99px;
  }

  &-image {
    display: flex;
    justify-content: space-between;

    .small-image img {
      width: 120px;
      height: 120px;
      border-radius: 8px;
      margin-bottom: 40px;
      margin-right: 39px;
    }

    .big-image img {
      width: 540px;
      height: 600px;
      border-radius: 8px;
    }

    .big {
      & .slider-gray,
      & .slider-black {
        width: 540px;
        height: 2px;
        margin-top: 24px;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    margin-left: 64px;

    h1 {
      margin-top: 37px;
      font-size: $size-16;
      font-weight: 400;
      line-height: 27px;

      &::after {
        content: "12";
        margin-left: 16px;
        color: $color-footer;
      }
    }

    h3 {
      font-size: $size-16;
      font-weight: 400;
      line-height: 27px;

      &::after {
        content: "Fashion, Style";
        margin-left: 16px;
        color: $color-footer;
      }
    }

    h4 {
      font-size: $size-20;
      font-weight: 500;
      line-height: 26px;
      color: $color-light;
      margin-bottom: 70px;
    }

    &-star {
      display: flex;
      flex-direction: row;

      img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }

    p {
      font-size: $size-16;
      font-weight: 400;
      line-height: 27px;
      color: $color-footer;
    }

    .icon {
      margin-top: 80px;
      display: flex;
      flex-direction: row;

      .heart {
        margin-right: 50px;
        border-right: 1px solid $color-footer;
        padding-right: 50px;

        .red {
          margin-left: 10px;
          color: red;
        }
      }

      .social .gray {
        margin-right: 10px;
        color: $color-footer;
      }
    }
  }

  &-button {
    display: flex;
    flex-direction: row;

    & .btn-white {
      width: 358px;
      height: 53px;

      &.btn-white {
        width: 360px;
        height: 53px;
        padding: 16px 127px;
        border-radius: 4px;
        font-size: $size-14;
        font-weight: 700;
        margin-top: 48px;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          width: 400px;
          margin-left: 23px;
        }
      }
    }

    .count {
      display: flex;
      flex-direction: row;
      width: 102px;
      height: 53px;
      background: $color-light-gray;
      padding: 14px 16px;
      border-radius: 4px;
      margin-right: 23px;
      margin-top: 48px;

      p {
        margin-right: 24px;
        cursor: pointer;
      }
    }
  }

  &-tabs {
    display: flex;
    position: relative;
    flex-direction: row;
    border-bottom: 1px solid $color-gray;
    padding-bottom: 34px;
  }

  &-tab {
    display: flex;
    width: auto;
    cursor: pointer;
    font-size: $size-20;
    font-weight: 400;
    line-height: 26px;
    color: $color-gray;
    outline: none;
    margin-right: 96px;
    transition-delay: 0.1s;

    &.active-tab {
      color: $color-text-black;
      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 6.6%;
        height: 1px;
        background: $color-text-black;
      }
    }

    &:hover {
      color: $color-footer;
    }
    &:nth-child(1).active-tab::before {
      width: 6.6%;
    }
    &:nth-child(2).active-tab::before {
      width: 13.5%;
    }
    &:nth-child(3).active-tab::before {
      width: 7%;
    }
  }

  .description {
    width: 1248px;
    font-size: $size-16;
    font-weight: 400;
    line-height: 27px;
    color: $color-footer;
    margin-top: 39px;
  }

  .information {
    margin-top: 39px;

    h2,
    h3,
    h4,
    p {
      font-size: $size-16;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 9px;
    }

    h2::after {
      content: "0.3 kg";
      margin-left: 10px;
      color: $color-footer;
    }

    h3::after {
      content: "15 x 10 x 1 cm";
      margin-left: 10px;
      color: $color-footer;
    }

    h4::after {
      content: "Black, Browns, White";
      margin-left: 10px;
      color: $color-footer;
    }

    p::after {
      content: "Metal";
      color: $color-footer;
      margin-left: 10px;
    }
  }

  .heading {
    font-size: $size-26;
    font-weight: 400;
    line-height: 35px;
    margin-top: 66px;
  }

  .review-product {
    display: flex;
    flex-direction: row;
    margin-top: 42px;

    .review-1 {
      margin-right: 88px;

      .evaluate {
        .heading-04 {
          font-size: $size-20;
          margin-bottom: 76px;
        }

        .heading-03 {
          font-size: $size-20;

          &::after {
            content: "6 May, 2020";
            color: $color-footer;
            margin-left: 10px;
            font-size: $size-14;
          }

          &:last-child::after {
            content: "6 May, 2020";
            color: $color-footer;
            margin-left: 10px;
            font-size: $size-14;
          }
        }

        .review-star {
          img {
            margin-left: 10px;
            margin-bottom: 24px;
          }
        }

        p {
          width: 580px;
          height: 57px;
          font-size: $size-16;
          color: $color-footer;
          border-bottom: 1px solid $color-gray;
          padding-bottom: 39px;
          margin-bottom: 24px;
        }

        p:nth-child(3) {
          border: none;
        }
      }
    }

    .review-2 {
      .heading-03 {
        font-size: $size-20;
        margin-bottom: 11px;
      }

      p {
        color: $color-footer;
        margin-bottom: 46px;

        &:nth-child(3) {
          margin-bottom: 46px;
          border-bottom: 1px solid $color-gray;
          padding-bottom: 61px;
        }
      }

      input {
        border-bottom: 1px solid $color-gray;
        padding-bottom: 13px;
        margin-bottom: 46px;
      }

      label {
        margin-top: 20px;
        color: $color-footer;
      }
      h4 {
        font-size: $size-14;
        font-weight: $font-weight-400;
        line-height: 22px;
        color: $color-footer;
        margin-top: -100px;
        margin-bottom: 13px;
      }

      .img img {
        margin-left: 10px;
        margin-bottom: 48px;
      }

      button {
        width: 123px;
        height: 53px;
      }
    }
  }

  &-similar {
    display: flex;
    flex-direction: row;

    .shoppe__home-title_jewelry {
      margin-right: 54px;
      margin-top: 47px;
    }
  }
}
