#product {
  display: flex;
  justify-content: center;
  padding: 8vh 10vw;
}

/* product - content - top - prodcut type list */
.product__content__top__product-type-list {
  width: 24rem;
}

/* product - content - top - prodcut */
.product__content__top__product img {
  width: 100rem;
}

