.loader {
  background-color: var(--color-bg);
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 20px;
  border-radius: 8px;
}

.shoppe__home {
  padding: 0px 96px;
  margin-bottom: 250px;
}

.shoppe__home-img img {
  width: 1315px;
  height: 650px;
  border-radius: 16px;
}

.shoppe__home-title {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 39px;
}

.shoppe__home-title h1 {
  font-size: var(--size-33);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 43px;
}

.shoppe__home-title h4 {
  font-size: var(--size-20);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--color-light);
}

.shoppe__home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoppe__home-container_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 57px;
}

.shoppe__home-container_box img {
  width: 100%;
}
