<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/product/create.css">
  </head>
  <body>
    <script src="javascript/product.js"></script>

    <div id="form-create">
      <form action="/product/add" method="post">
        <fieldset>
          <label>Id:</label>
          <input type="text" name="IdProduct" />

          <label>Name:</label>
          <input type="text" name="Name" />

          <label>Amount:</label>
          <input type="text" name="Amount" />

          <label>Price:</label>
          <input type="text" name="Price" />

          <label>Image:</label>
          <input type="text" name="Image" />

          <input class="form-create__btn-save" type="submit" value="save" />
          <input class="form-create__btn-close" type="button" value="close" onclick="CloseModelCreate()" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
