<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/product/edit.css">
  </head>
  <body>
    <script src="javascript/product.js"></script>

    <div id="form-edit">
      <form action="/product/update" method="put">
        <fieldset>
          <label>Name:</label>
          <input type="text" name="Name" />

          <label>Amount:</label>
          <input type="text" name="Amount" />

          <label>Price:</label>
          <input type="text" name="Price" />

          <label>Image:</label>
          <input type="text" name="Image" />

          <input class="form-edit__btn-save" type="submit" value="save" />
          <input
            class="form-edit__btn-close"
            type="button"
            value="close"
            onclick="CloseModelEdit()"
          />
        </fieldset>
      </form>
    </div>
  </body>
</html>
