#product {
  display: flex;
  justify-content: center;
  padding: 8vh 10vw;
}

/* product - content - top - prodcut type list */
.product__content__top__product-type-list {
  width: 24rem;
}

/* product - content - top - prodcut */
.product__content__top__product img {
  width: 105rem;
}

/* product - content - top - prodcut information - amount product */
.product__content__top__product-infomation__amount-product {
  width: 12rem;
  height: 4rem;
}

.product__content__top__product-infomation__amount-product input {
  background-color: var(--bright-gray);
  outline: 0;
}

/* product - content - top - prodcut information - amount product - increase */
.product__content__top__product-infomation__amount-product__increase:hover {
  background-color: var(--anti-flash-white);
}

.product__content__top__product-infomation__amount-product__increase:active {
  background-color: var(--bright-gray);
}

/* product - content - top - prodcut information - amount product - reduce */
.product__content__top__product-infomation__amount-product__reduce:hover {
  background-color: var(--anti-flash-white);
}

.product__content__top__product-infomation__amount-product__reduce:active {
  background-color: var(--bright-gray);
}

/* product - content - top - prodcut information - add to cart */
.product__content__top__product-infomation__add-to-cart:active {
  background-color: var(--white-smoke);
}

/* product - content - btn submit */
.product__content__review__btn-submit {
  width: fit-content;
}
