@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter&family=Poppins:ital,wght@0,100;0,300;1,800;1,900&family=Roboto:wght@300&display=swap");

:root {
  --font-family: "DM Sans", sans-serif;

  --color-bg: #ffffff;
  --color-text: #000000;
  --color-light: #a18a68;
  --color-footer: #707070;
}
