.Shoppe__order {
  border-top: 1px solid #d8d8d8;
  width: 1315px;
  height: 793px;
  margin-left: 96px;
}

.Shoppe__order-container {
  margin-top: 96px;
}

.rectangle {
  display: flex;
  flex-direction: row;
  width: 1315px;
  height: 68px;
  background: var(--color-light-gray);
  border-top: 2px solid var(--color-light);
}

.rectangle .icon-circle {
  color: var(--color-light);
  padding: 23px 16px 23px 39px;
}

.rectangle h3 {
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  padding-top: 19px;
}

.order-section {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}

.order-details {
  display: flex;
  justify-content: space-between;
  margin-right: 169px;
}

.main-title .order {
  font-family: var(--font-family);
  font-size: var(--size-26);
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 29px;
}

.main-title {
  margin-right: 139px;
}

.main-title .black {
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
}

.main-title .gray {
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  color: var(--color-footer);
}

.secondary-title {
  margin-top: 60px;
}

.secondary-title .black {
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
}

.secondary-title .gray {
  font-family: var(--font-family);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 27px;
  color: var(--color-footer);
}

.secondary-title h2:nth-child(4) {
  width: 119px;
  height: 107px;
}

.order-summary {
  background: var(--color-light-gray);
  padding: 39px 59px;
}
