@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.shoppe__cart {
  border-top: 1px solid $color-gray;
  width: 1315px;
  height: 1290px;
  margin-left: 96px;
  margin-bottom: 240px;
}

.shoppe__cart-container {
  margin-top: 96px;
}

.heading-01 {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.shoppe__cart-product {
  display: flex;
}

.shoppe__cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .all-img {
    .title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 80px;
    }

    .count {
      display: flex;
      flex-direction: row;
      margin-right: 52px;
      background: $color-gray;
      width: 102px;
      height: 53px;
      padding: 20px 28px;

      p {
        padding: 0px 5px;
        color: $color-footer;
      }

      p:first-child,
      p:last-child {
        cursor: pointer;
      }
    }
  }
}

.shoppe__cart-item .icon-item {
  cursor: pointer;
}

.all-img {
  display: flex;
  justify-content: space-between;
  margin-right: 39px;
  margin-bottom: 78px;
  border-bottom: 1px solid $color-footer;
  padding-bottom: 39px;
}

.shoppe__cart-item .image-cart {
  display: flex;
  justify-content: space-between;
}

.shoppe__cart-item .image-cart img {
  width: 136px;
  height: 136px;
  margin-right: 39px;
}

.text-cart h3 {
  font-size: $size-20;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 14px;
}

.text-cart h4 {
  font-size: $size-16;
  font-weight: 400;
  line-height: 27px;
  color: $color-footer;
}

.text-cart h4:last-child {
  color: $color-light;
}

.shoppe__cart-item .btn-white {
  cursor: pointer;
  width: 168px;
  height: 53px;
  border-radius: 4px;
  border: 1px solid $color-text-black;
  margin-left: 508px;
  margin-bottom: 64px;
  transition: 0.5s ease;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button p {
  font-size: $size-12;
  width: 336px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid $color-footer;
  padding-bottom: 21px;
}

.button .btn-black {
  cursor: pointer;
  padding: 16px 27px;
  width: 168px;
  height: 53px;
  border-radius: 4px;
  border: 1px solid $color-text-black;
  font-size: $size-14;
  font-weight: 700;
  transition: 0.5s ease;
}

.shoppe__cart-totals {
  margin-top: 20px;
  margin-left: 100px;

  .heading-02 {
    margin-bottom: 44px;
  }
}

.shoppe__cart-totals .btn-black {
  cursor: pointer;
  text-align: center;
  padding-top: 15px;
  width: 540px;
  height: 53px;
  border-radius: 4px;
  border: 1px solid $color-text-black;
  font-size: $size-16;
  font-weight: 600;
  line-height: 27px;
}

.shoppe__cart-totals .heading-01 {
  width: 140px;
}

.hero-block {
  display: flex;
  margin-bottom: 45px;
  border-bottom: 1px solid $color-footer;
}

.hero-money {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
}

.hero-money h1 {
  width: 66px;
  height: 28px;
  font-size: $size-16;
  font-weight: 400;
  line-height: 27px;
  color: $color-footer;
  margin-bottom: 39px;
}

.heading-05 {
  width: 250px;
  height: 58px;
  color: $color-footer;
  margin-bottom: 39px;
}

.hero-text h3,
.hero-text h4 {
  font-size: $size-16;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 23px;
}

.calculate,
.select,
.city,
.post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.calculate h3 {
  font-size: $size-16;
  font-weight: 400;
  line-height: 27px;
  color: $color-text-black;
}

.select h3,
.city h3,
.post h3 {
  font-size: $size-16;
  font-weight: 400;
  line-height: 27px;
  color: $color-footer;
}

.icon-s {
  color: $color-footer;
}

.hero-money .btn-white {
  cursor: pointer;
  width: 250px;
  height: 53px;
  border-radius: 4px;
  border: 1px solid $color-text-black;
  font-size: $size-16;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 39px;
  transition: 0.5s ease;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}

.total h6 {
  margin-bottom: 23px;
  font-size: $size-16;
  font-weight: 600;
  line-height: 27px;
}
