#header {
  padding: 8vh 10vw;
}

.header__content__right-side__menu li a {
  color: theme("colors.dark_silver");
  display: block;
  position: relative;
}

.header__content__right-side__menu li a:hover {
  color: theme("colors.black.1");
}

.header__content__right-side__menu li a::after {
  content: "";
  background-color: theme("colors.transparent");
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -26px;
}

.header__content__right-side__menu li.tab-active a {
  color: theme("colors.black.1");
}

.header__content__right-side__menu li.tab-active a::after {
  background-color: theme("colors.black.1");
}
